.tagline {
  text-align: center;
  padding: 50px 0;

  &-bull-logo {
    margin-bottom: 0px;
    filter: invert(100%);

    img {
      max-width: 100px;
      height: auto;
    }
  }

  &-text {
    h1 {
      color: white;
      font-family: 'Wix Made For Display', sans-serif;
      font-weight: 900;
      font-size: 60px;
      line-height: 1.1em;
      margin-bottom: 20px;
    }
  }

  &-buttons {
    margin-top: 20px;

    a {
      font-family: 'Old Standard TT', sans-serif;
      font-size: 20px;
      line-height: 1.5em;
      display: inline-block;
      text-decoration: none;
      color: #A4161A;
      background-color: #f0f0f0;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 30px;
      transition: background-color 0.5s ease;

      &:hover {
        color: #f1f1f1;
        background-color: #E5383B;
      }
    }
  }
}