
.tagline {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-bull-logo {
    margin-bottom: 20px;

    img {
      max-width: 147px;
      max-height: 137px;
      height: auto;
    }
  }

  &-text {
    h1 {
      color: $text-color;
      font-family: 'Wix Made For Display', sans-serif;
      font-weight: 900;
      font-size: 60px;
      line-height: 1.1em;
      margin: 0 0 20px;
    }
  }

  &-buttons {
    margin-top: 20px;

    a {
      font-family: 'Old Standard TT', sans-serif;
      font-size: 20px;
      line-height: 1.5em;
      display: inline-block;
      text-decoration: none;
      color: $button-text-color;
      background-color: $button-background-color;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 30px;
      transition: background-color 0.5s ease;

      &:hover {
        color: $button-hover-text-color;
        background-color: $button-hover-background-color;
      }
    }
  }
}
