@import '../utils/variables.scss';

.epic-tale-section {
  position: relative;
  background-color: $background-color;
  padding: $section-padding;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $breakpoint-tablet) and (max-width: 1919px) {
    padding: $section-padding-tablet;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: $section-padding-mobile;
  }
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-img {
  width: 1000px;
  object-fit: cover;
  object-position: center;
  mix-blend-mode: hard-light;
  filter: grayscale(100%) opacity(0.5);

  @media (max-width: $breakpoint-tablet) {
    width: 1000px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 800px;
  }
}

.horizontal-container {
  display: grid;
  grid-template-columns: 480px 480px;
  gap: 20px;
  max-width: $max-width;
  margin: 0 auto;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr 1fr;
  }
}

.right-column {
  padding-top: 65px;

  @media (max-width: $breakpoint-tablet) {
    padding-top: 0;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 0;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.horizontal {
    gap: 20px;
  }
}

.item {
  font-size: 20px;
  font-family: 'Old Standard TT', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  text-align: left;

  &-right {
    border-bottom: 1px solid $border-color;
  }

  .year {
    margin-left: 20px;
    white-space: nowrap;
  }
}

h3.item {
  text-transform: uppercase;
  font-family: 'Wix Made For Display', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 900;
  margin-bottom: 40px;
}
