$primary-color: #4CAF50;
$background-color: #630817;
$text-color: white;
$button-text-color: #A4161A;
$button-background-color: #f0f0f0;
$button-hover-text-color: #f1f1f1;
$button-hover-background-color: #820C1F;
$briefly-text-color: #B1A7A6;
$header-background-color: #111111;
$menu-background-color: #333;
$hover-background-color: #555;
$header-hover-background-color: #222222;
$border-color: #AE0C0F;

$section-border-radius: 8px;

$section-padding: 100px 20px;
$section-padding-tablet: 80px 40px;
$section-padding-mobile: 60px 20px;

$breakpoint-tablet: 810px;
$breakpoint-mobile: 809px;

$max-width: 1000px;