$primary-color: #4CAF50;
$background-color: #660708;
$text-color: white;
$button-text-color: #A4161A;
$button-background-color: #f0f0f0;
$button-hover-text-color: #f1f1f1;
$button-hover-background-color: #E5383B;
$briefly-text-color: #B1A7A6;
$header-background-color: #111111;
$menu-background-color: #333;
$hover-background-color: #555;
$header-hover-background-color: #222222;

$section-border-radius: 8px;
